:root {
  --main-bg-color: #12664F;
}
body {
  background: #404040;
  font: 500 20px/26px 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
.sidebar {
  color: white;
  width: 33.3333%;
  position: absolute;
  background-color: var(--main-bg-color);
  -webkit-box-shadow: 0px 1px 18px 15px rgba(18,102,79,0.4); 
 box-shadow: 0px 1px 18px 15px rgba(18,102,79,0.4);
  border-radius: 1rem;
  top: 1vh;
  left: 1vw;
}
.nature-reserve-information {
  padding: 1rem;
  background-color: white;
  position: absolute;
  -webkit-box-shadow: 0px 1px 18px 15px rgba(255, 255, 255, 0.4); 
  box-shadow: 0px 1px 18px 15px rgba(255, 255, 255, 0.4);
  border-radius: 1rem;
  top: 1vh;
  right: 1vw;
  text-align: center;
}

::-webkit-scrollbar {
  width: 1rem;
  border-left: 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: #c90000;
  border-radius: 3rem;
}

::-webkit-scrollbar-track {
  background: none;
}

h1 {
  text-align: right;
  font-size: 22px;
  margin: 0;
  font-weight: 900;
  line-height: 20px;
  padding: 20px 2px;
}

.heading  {
  margin-right: 4rem;
}
.floatButton {
  border-radius: 1rem;
  background-color: var(--main-bg-color);
  color: white;
  position: fixed;
  right: 10vh;
  padding: 0.5em;
  bottom: 2vh;
    margin-bottom: 0;
    z-index: 997;
}
.left {
    right: 20vh;
    bottom: 2vh;
    margin-bottom: 0;
    z-index: 997;
}

.listingText {
  font-size: 1rem;
  text-align: right;
  margin-right: 4rem;
  transition: transform .2s;
  cursor: pointer;
}
.listingText:hover {
  transform: scale(1.1);
}

.listings  {
  overflow: auto;
  max-height: 40rem;
}

a {
  color: #404040;
  text-decoration: none;
}

a:hover {
  color: #101010;
}